/* PieCmp.css */
.pie-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pie-chart {
  width: 400px;
  height: 400px;
}

.legend-labels {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.legend-colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 15px;
}

.legend-color {
  height: 30px;
  width: 30px;
}

.legend-label {
  cursor: pointer;
  font-weight: bold;
}
